{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_semi-mixed-pla.bin",
    "decompress": "out/decompress/<NAME>_semi-mixed-pla.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "semi-mixed-pla",
        "error": <ERROR>
    }
}