{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_swing-filter.bin",
    "decompress": "out/decompress/<NAME>_swing-filter.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "swing-filter",
        "error": <ERROR>
    }
}