{
    "data": "<DATA>",
    "compress": "out/compress/<NAME>_unbounded.bin",
    "decompress": "out/decompress/<NAME>_unbounded.csv",
    "interval": <INTERVAL>,
    "algorithm": {
        "name": "unbounded",
        "error": <ERROR>
    }
}